<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="output" default="screen"/>
  <arg name="scenario" default="$(find scenario_runner)/test/lane_change.xosc"/>
  <arg name="verbose" default="false"/>

  <node pkg="scenario_runner" type="scenario_runner_node" name="scenario_runner_node" output="$(arg output)">
    <param name="scenario" value="$(arg scenario)"/>
    <param name="verbose" value="$(arg verbose)"/>
  </node>

  <arg name="port" default="8080"/>

  <node pkg="scenario_simulator" type="scenario_simulator_node" name="scenario_simulator_node" output="$(arg output)" respawn="false" respawn_delay="0">
    <param name="port" value="$(arg port)"/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz" output="log" respawn="false" respawn_delay="0" args="-d $(find scenario_runner)/config/default.rviz"/>

  <arg name="map_path"/>

  <include file="$(find map_launch)/launch/map.launch">
    <arg name="lanelet2_map_path" value="$(arg map_path)/lanelet2_map.osm"/>
    <arg name="pointcloud_map_path" value="$(arg map_path)/pointcloud_map.pcd"/>
  </include>
</launch>
