repo_url: https://github.com/tier4/scenario_simulator.auto
site_name: Scenario testing framework for Autoware
theme:
  name: material
  feature:
    tabs: true
  favicon: image/icon.png
  icon:
    logo: material/car
    repo: fontawesome/brands/github
extra:
  font:
    text: "Noto Sans JP"
    code: "Consolas"
  search:
    language: en
plugins:
  - search
palette:
  scheme: slate

copyright: 'Copyright &copy; 2020- Tier IV, Inc.'

markdown_extensions:
  - attr_list
  - codehilite: { guess_lang: false }
  - fontawesome_markdown
  - mdx_math
  - mdx_unimoji
  - plantuml_markdown: { server: http://www.plantuml.com/plantuml }
  - pymdownx.arithmatex
  - pymdownx.emoji: { emoji_generator: !!python/name:pymdownx.emoji.to_svg }
  - pymdownx.highlight
  - pymdownx.superfences
  - toc: { permalink: "#" }
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format

extra_css:
  - "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"
  - stylesheet/tierivcolor.css
  - https://unpkg.com/mermaid@8.0.0/dist/mermaid.css
extra_javascript:
  - http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML
  - https://unpkg.com/mermaid/dist/mermaid.min.js

nav:
  - Home: README.md
  - Tutorials:
    - tutorials/BuildInstructions.md
    - tutorials/SimpleDemo.md
    - tutorials/RunWithDocker.md
  - User Guide:
    - Scenario Editor:
      - Overview: user_guide/scenario_editor/ScenarioEditorUserGuide.md
      - user_guide/scenario_editor/CreateSimpleScenario.md
      - user_guide/scenario_editor/EditExistingScenario.md
      - user_guide/scenario_editor/ChangeCoordinate.md
      - Place an entity to relative position: user_guide/scenario_editor/RelativePosition.md
    - Scenario Test Runner:
      - Overview: user_guide/scenario_test_runner/ScenarioTestRunner.md
      - user_guide/scenario_test_runner/ScenarioFormatConversion.md
      - user_guide/scenario_test_runner/HowToWriteWorkflowFile.md
      - user_guide/scenario_test_runner/Tips.md
  - Design:
    - About: design/About.md
    - design/AutowareAPI.md
    - design/ErrorCategories.md
    - design/OpenSCENARIOSupport.md
    - design/SimpleSensorSimulator.md
    - design/SystemArchitecture.md
    - design/TrafficSimulator.md
    - design/ZeroMQ.md
  - Package Details: package/About.md
  - Release Notes: ReleaseNotes.md
  - Contact Infomation: etc/ContactUs.md
  - LICENSE: LICENSE.md
