<?xml version="1.0"?>
<launch>
    <arg name="load_map" default="true"/>
    <arg name="map_path"/>
    <arg name="lanelet2_map_file" default="lanelet2_map.osm"/>
    <arg name="pointcloud_map_file" default="pointcloud_map.pcd"/>
    <arg name="port" default="9000"/>

    <node pkg="simple_sensor_simulator" type="simple_sensor_simulator_node" name="simple_sensor_simulator_node" output="screen" respawn="false" respawn_delay="0">
        <param name="port" value="$(arg port)"/>
    </node>

    <node pkg="simple_sensor_simulator" type="scenario_runner_moc_node" name="scenario_runner_moc_node" output="screen" respawn="false" respawn_delay="0">
        <param name="port" value="$(arg port)"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" output="log" respawn="false" respawn_delay="0" args="-d $(find simple_sensor_simulator)/config/simple_sensor_simulator.rviz">
    </node>

    <group if="$(arg load_map)">
      <include file="$(find map_launch)/launch/map.launch">
        <arg name="lanelet2_map_path" value="$(arg map_path)/$(arg lanelet2_map_file)" />
        <arg name="pointcloud_map_path" value="$(arg map_path)/$(arg pointcloud_map_file)"/>
      </include>
    </group>
</launch>
