simulation:
  AutowareUniverse:
    ros__parameters:
      /localization/kinematic_state:
        version: 20240605 # architecture_type suffix (mandatory)
        seed: 0 # If 0 is specified, a random seed value will be generated for each run.
        nav_msgs::msg::Odometry:
          pose:
            pose:
              position:
                x:
                  error:
                    additive:
                      mean: 0.0
                      standard_deviation: 0.0
                    multiplicative:
                      mean: 0.0
                      standard_deviation: 0.0
                y:
                  error:
                    additive:
                      mean: 0.0
                      standard_deviation: 0.0
                    multiplicative:
                      mean: 0.0
                      standard_deviation: 0.0
                z:
                  error:
                    additive:
                      mean: 0.0
                      standard_deviation: 0.0
                    multiplicative:
                      mean: 0.0
                      standard_deviation: 0.0
              orientation:
                # The type of geometry_msgs::msg::Pose.orientation is
                # Quaternion, and the actual orientation data members are x, y,
                # z, and w. However, applying error to Quaternions can be
                # unintuitive and tricky, so we accept the parameters as Euler
                # angles here. The simulator internally converts Quaternion to
                # Euler angles and applies the error to them. It then converts
                # the error-applied Euler angles back to Quaternion and
                # publishes them as `/localization/kinematic_state`.
                r:
                  error:
                    additive:
                      mean: 0.0
                      standard_deviation: 0.0
                    multiplicative:
                      mean: 0.0
                      standard_deviation: 0.0
                p:
                  error:
                    additive:
                      mean: 0.0
                      standard_deviation: 0.0
                    multiplicative:
                      mean: 0.0
                      standard_deviation: 0.0
                y:
                  error:
                    additive:
                      mean: 0.0
                      standard_deviation: 0.0
                    multiplicative:
                      mean: 0.0
                      standard_deviation: 0.0
          twist:
            twist:
              linear:
                x:
                  error:
                    additive:
                      mean: 0.0
                      standard_deviation: 0.0
                    multiplicative:
                      mean: 0.0
                      standard_deviation: 0.0
                y:
                  error:
                    additive:
                      mean: 0.0
                      standard_deviation: 0.0
                    multiplicative:
                      mean: 0.0
                      standard_deviation: 0.0
                z:
                  error:
                    additive:
                      mean: 0.0
                      standard_deviation: 0.0
                    multiplicative:
                      mean: 0.0
                      standard_deviation: 0.0
              angular:
                x:
                  error:
                    additive:
                      mean: 0.0
                      standard_deviation: 0.0
                    multiplicative:
                      mean: 0.0
                      standard_deviation: 0.0
                y:
                  error:
                    additive:
                      mean: 0.0
                      standard_deviation: 0.0
                    multiplicative:
                      mean: 0.0
                      standard_deviation: 0.0
                z:
                  error:
                    additive:
                      mean: 0.0
                      standard_deviation: 0.0
                    multiplicative:
                      mean: 0.0
                      standard_deviation: 0.0
