<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- load parameter -->
  <xacro:property name="vehicle_info" value="${xacro.load_yaml('$(find j6_gen2_description)/config/vehicle_info.param.yaml')}"/>

  <!-- vehicle body -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://j6_gen2_description/mesh/BYD_J6.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>
</robot>
