name: BuildTest

on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *
  pull_request:
    paths-ignore:
      - "docs/**"
      - "mkdocs.yml"
      - "README.md"
      - "workflows/Docker.yaml"
      - "workflows/Documentation.yaml"
      - "workflows/NotifyFailure.yaml"
      - "workflows/Release.yaml"
      - "workflows/SpellCheck.yaml"

jobs:
  build:
    name: build
    runs-on: ubuntu-20.04
    timeout-minutes: 120
    strategy:
      fail-fast: false
      max-parallel: 8
      matrix:
        rosdistro: [foxy, galactic]
    env:
      ROS_DISTRO: ${{ matrix.rosdistro }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2-beta
        with:
          fetch-depth: 0
      - name: Setup ROS2 ${{ matrix.rosdistro }} environment
        uses: ros-tooling/setup-ros@v0.2
        with:
          required-ros-distributions: ${{ matrix.rosdistro }}
      - name: Search packages in this repository
        id: list_packages
        run: |
          echo ::set-output name=package_list::$(colcon list --names-only | sed -e ':loop; N; $!b loop; s/\n/ /g')
      - name: Show target packages
        run: |
          echo "Target packages: ${{ steps.list_packages.outputs.package_list }}"
      - name: Run build test
        uses: ros-tooling/action-ros-ci@v0.2
        with:
          package-name: ${{ steps.list_packages.outputs.package_list }}
          target-ros2-distro: ${{ matrix.rosdistro }}
          vcs-repo-file-url: dependency_${{ matrix.rosdistro }}.repos
          extra-cmake-args: -DWITH_INTEGRATION_TEST=ON
          colcon-defaults: |
            {
              "build": {
                "mixin": ["coverage-gcc", "coverage-pytest"]
              },
              "test": {
                "mixin": ["coverage-pytest"]
              }
            }
          # If possible, pin the repository in the workflow to a specific commit to avoid
          # changes in colcon-mixin-repository from breaking your tests.
          colcon-mixin-repository: https://raw.githubusercontent.com/colcon/colcon-mixin-repository/1ddb69bedfd1f04c2f000e95452f7c24a4d6176b/index.yaml
      - name: show failure test result
        if: always()
        run : |
          cd /home/runner/work/scenario_simulator_v2/scenario_simulator_v2/ros_ws
          colcon test-result --verbose
      - name: publish codecov result
        uses: codecov/codecov-action@v1.2.1
        if: always()
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # only needed for private repos
          files: ros_ws/lcov/total_coverage.info,ros_ws/coveragepy/.coverage
          flags: colcon_test
          env_vars: ROS_DISTRO
      - name: collect test result
        if: always()
        run: |
          cd /home/runner/work/scenario_simulator_v2/scenario_simulator_v2/ros_ws/build
          find -name test_results | xargs -i cp -r -p {} .
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: test_results
          path: /home/runner/work/scenario_simulator_v2/scenario_simulator_v2/ros_ws/build/test_results
