name: Docker

on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *
  pull_request:
    paths-ignore:
      - "docs/**"
      - "mkdocs.yml"
      - "README.md"
      - "workflows/Build.yaml"
      - "workflows/Documentation.yaml"
      - "workflows/NotifyFailure.yaml"
      - "workflows/Release.yaml"
      - "workflows/ScenarioTest.yaml"
      - "workflows/SpellCheck.yaml"
  push:
    branches:
      - master
  release:
    types: [published]
jobs:
  job1:
    name: Build Docker Image
    runs-on: ubuntu-20.04
    timeout-minutes: 90
    strategy:
      matrix:
        rosdistro: [galactic]
    steps:
      - uses: actions/checkout@v2-beta
      - name: Build and Push Docker Image
        if: ${{ github.event_name != 'pull_request'}}
        uses: docker/build-push-action@v1
        env:
          DOCKER_BUILDKIT: 1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: tier4/scenario_simulator_v2
          tags: ${{ matrix.rosdistro }}
          no-cache: true
          build_args: ROS_DISTRO=${{ matrix.rosdistro }}
          push: true
      - name: Build Docker Image
        if: ${{ github.event_name == 'pull_request'}}
        uses: docker/build-push-action@v1
        env:
          DOCKER_BUILDKIT: 1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: tier4/scenario_simulator_v2
          tags: ${{ matrix.rosdistro }}
          no-cache: true
          build_args: ROS_DISTRO=${{ matrix.rosdistro }}
          push: false
