name: Docker

on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *
  pull_request:
    paths:
      - '**'
      - '!docs/**'
      - '!README.md'
      - '!.github/**'
      - '.github/workflows/Docker.yaml'
      - '!mkdocs.yml'
  push:
    branches:
      - master
  release:
    types: [published]
jobs:
  job1:
    name: Build Docker Image
    runs-on: ubuntu-20.04
    timeout-minutes: 180
    strategy:
      matrix:
        rosdistro: [humble]
    steps:
      - uses: actions/checkout@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          tags: ghcr.io/${{ github.repository_owner }}/scenario_simulator_v2:${{ matrix.rosdistro }}
          no-cache: true
          build-args: ROS_DISTRO=${{ matrix.rosdistro }}
          push: ${{ github.event_name != 'pull_request' }}
