name: Docker

on:
  workflow_dispatch:
    schedule:
      - cron: 0 0 * * *
  pull_request:
    paths-ignore:
      - "docs/**"
      - "mkdocs.yml"
      - "README.md"
  push:
    branches:
      - master
  release:
    types: [published]
jobs:
  job1:
    name: Build Docker Image
    runs-on: ubuntu-20.04
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v2-beta
      - name: Build and Push Docker Image
        if: ${{ github.event_name != 'pull_request'}}
        uses: docker/build-push-action@v1
        env:
          DOCKER_BUILDKIT: 1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: tier4/scenario_simulator_v2
          tags: latest
          no-cache: true
          build_args: BUILDKIT_INLINE_CACHE=1
          push: true
      - name: Build Docker Image
        if: ${{ github.event_name == 'pull_request'}}
        uses: docker/build-push-action@v1
        env:
          DOCKER_BUILDKIT: 1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: tier4/scenario_simulator_v2
          tags: latest
          no-cache: true
          build_args: BUILDKIT_INLINE_CACHE=1
          push: false
      - name: Notify Slack
        uses: 8398a7/action-slack@v2
        if: failure()
        with:
          status: ${{ job.status }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
