name: Docker
on:
  pull_request:
    paths:
      - "**"
      - "!docs/**"
      - "!README.md"
      - "!CONTRIBUTING.md"
      - "!.github/**"
      - ".github/workflows/Docker.yaml"
      - "!mkdocs.yml"
      - "!pyproject.toml"
      - "!poetry.lock"
  push:
    branches:
      - master
    paths:
      - "**/package.xml"
  workflow_dispatch:
    inputs:
      version:
        description: version of the scenario_simulator_v2
        required: true

jobs:
  push_traffic_sim_docker:
    name: Push Docker Image for traffic_simulator
    runs-on: ubuntu-22.04
    timeout-minutes: 720
    strategy:
      matrix:
        rosdistro: [humble]

    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false

      - name: Install catkin-pkg
        run: sudo apt update && sudo apt install -y python3-catkin-pkg git curl

      - name: Install docker for ubuntu runner
        uses: docker/setup-buildx-action@v3

      - uses: actions/checkout@v4

      - name: Get version
        id: version
        run: echo "version=$(catkin_package_version)" >> $GITHUB_OUTPUT

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        if: github.event_name == 'pull_request'
        uses: docker/bake-action@v6.3.0
        with:
          files: |
            ./docker-bake.hcl
          workdir: .
          set: |
            *.cache-to=type=gha,mode=max
            *.cache-from=type=gha
          push: false
          targets: |
            traffic_simulator_${{ matrix.rosdistro }}

      - name: Build and push
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        uses: docker/bake-action@v6.3.0
        with:
          files: |
            ./docker-bake.hcl
          workdir: .
          set: |
            *.cache-to=type=gha,mode=max
            *.cache-from=type=gha
            *.tags=ghcr.io/tier4/scenario_simulator_v2:traffic_simulator_${{ matrix.rosdistro }}-${{ github.event.inputs.version || steps.version.outputs.version }}
            *.tags=ghcr.io/tier4/scenario_simulator_v2:traffic_simulator-latest
          push: true
          targets: |
            traffic_simulator_${{ matrix.rosdistro }}

  push_docker:
    name: Push Docker Image
    runs-on: ubuntu-22.04
    timeout-minutes: 720
    strategy:
      matrix:
        rosdistro: [humble]
        arch: [amd64, arm64]

    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false

      - name: Install catkin-pkg
        run: sudo apt update && sudo apt install -y python3-catkin-pkg git curl

      - name: Install docker for ubuntu runner
        uses: docker/setup-buildx-action@v3

      - name: Install QEMU
        uses: docker/setup-qemu-action@v3

      - uses: actions/checkout@v4

      - name: Get version
        id: version
        run: echo "version=$(catkin_package_version)" >> $GITHUB_OUTPUT

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Qemu Setup
        run: |
          docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
          docker buildx create --use
          docker buildx inspect --bootstrap

      - name: Build (${{ matrix.arch }})
        if: github.event_name == 'pull_request'
        uses: docker/bake-action@v6.3.0
        with:
          files: |
            ./docker-bake.hcl
          workdir: .
          set: |
            *.cache-to=type=gha,mode=max
            *.cache-from=type=gha
          push: false
          targets: |
            ${{ matrix.rosdistro }}_base_${{ matrix.arch }}

      - name: Build and push (${{ matrix.arch }})
        if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
        uses: docker/bake-action@v6.3.0
        with:
          files: |
            ./docker-bake.hcl
          workdir: .
          set: |
            *.cache-to=type=gha,mode=max
            *.cache-from=type=gha
            *.tags=ghcr.io/tier4/scenario_simulator_v2:humble-${{ github.event.inputs.version || steps.version.outputs.version }}
            *.tags=ghcr.io/tier4/scenario_simulator_v2:humble-latest
          push: true
          targets: |
            ${{ matrix.rosdistro }}_base_${{ matrix.arch }}
