name: Docker

on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *
  pull_request:
    paths:
      - "**"
      - "!docs/**"
      - "!README.md"
      - "!CONTRIBUTING.md"
      - "!.github/**"
      - ".github/workflows/Docker.yaml"
      - "!mkdocs.yml"
  push:
    branches:
      - master
  release:
    types: [published]
jobs:
  build_docker_image:
    name: Build Docker Image
    runs-on: ubuntu-22.04
    timeout-minutes: 720
    strategy:
      matrix:
        rosdistro: [humble]
        arch: [amd64]
        # Build test for arm64 CPU is broken.
        # This is a temporary solution and will be repaired in the future.
        # See also https://github.com/tier4/scenario_simulator_v2/pull/1295
        # arch: [amd64, arm64]
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false

      - name: Install docker for ubuntu runner
        uses: docker/setup-buildx-action@v3

      - name: Install QEMU
        uses: docker/setup-qemu-action@v3

      - uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push (${{ matrix.arch }})
        uses: docker/bake-action@v3
        with:
          files: |
            ./docker-bake.hcl
          workdir: .
          set: |
            *.cache-to=type=gha,mode=max
            *.cache-from=type=gha
          push: ${{ github.event_name != 'pull_request' && matrix.arch == 'amd64' }}
          targets: |
            ${{ matrix.rosdistro }}_base_${{ matrix.arch }}
