name: Documentation

on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *
  push:
    branches:
      - master
  pull_request:

jobs:
  generate:
    name: Generate documentation
    runs-on: ubuntu-22.04
    steps:
      - name: Generate token
        id: generate-token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: run protoc-gen-doc
        run: docker run --rm -v $(pwd)/simulation/simulation_interface/proto/:/protos -v $(pwd)/docs/proto_doc:/out pseudomuto/protoc-gen-doc --doc_opt=markdown,protobuf.md

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: uv python install

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Generate documentation
        run: uv run mkdocs build

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: site
          path: site
          retention-days: 1

      - name: Publish Documentation
        if: ${{ github.event_name == 'push' || github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'}}
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ steps.generate-token.outputs.token }}
          publish_dir: site
          keep_files: false
          external_repository: tier4/scenario_simulator_v2-docs

  generate_api_document:
    name: Generate API documentation
    runs-on: ubuntu-22.04
    steps:
      - name: Generate token
        id: generate-token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: actions/checkout@v6

      - name: Install doxygen
        run: sudo apt-get install -y doxygen

      - name: Build document
        run: doxygen Doxyfile

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: api_documentation_site
          path: html
          retention-days: 1

      - name: Publish Documentation
        if: ${{ github.event_name == 'push' || github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'}}
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ steps.generate-token.outputs.token }}
          publish_dir: html
          keep_files: false
          external_repository: tier4/scenario_simulator_v2-api-docs
