name: Documentation link check

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *
  pull_request:

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Check documentation link
        id: lychee
        uses: lycheeverse/lychee-action@v1.5.0
        with:
          fail: true
          args: "--verbose --no-progress './**/*.md' './**/*.html' --timeout 1000 --max-concurrency 32 -T 1 --retry-wait-time 10"
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
