name: Release
on:
  merge_group:

jobs:
  release:
    name: Release
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    container: ros:humble
    steps:
      - name: install bloom
        run: apt update && apt install -y python3-bloom git
      - name: checkout
        uses: actions/checkout@v2
        with:
          ref: master
          fetch-depth: 0
          fetch-tags: true
      - run: ls -a
      - name: Setup git user
        run: |
          git config --global user.name  "Release Bot"
          git config --global user.email "action@github.com"
          git config --global --add safe.directory /__w/scenario_simulator_v2/scenario_simulator_v2
      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3
      - name: update patch version
        if: contains(github.event.pull_request.labels.*.name, 'bump patch')
        run: |
          catkin_generate_changelog -y
          catkin_tag_changelog --bump patch
          catkin_package_version --bump patch
      - name: update minor version
        if: contains(github.event.pull_request.labels.*.name, 'bump minor')
        run: |
          catkin_generate_changelog -y
          catkin_tag_changelog --bump minor
          catkin_package_version --bump minor
      - name: update major version
        if: contains(github.event.pull_request.labels.*.name, 'bump major')
        run: |
          catkin_generate_changelog -y
          catkin_tag_changelog --bump major
          catkin_package_version --bump major
      - name: commit changes
        run: |
          git add .
          git commit -m "Bump version of scenario_simulator_v2 to version $(catkin_package_version)"
          git push
          git tag -a $(catkin_package_version) -m "release $(catkin_package_version)"
          git push origin $(catkin_package_version)
        working-directory: scenario_simulator_v2
