name: ScenarioTest

on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *
  pull_request:
    paths-ignore:
      - "docs/**"
      - "mkdocs.yml"
      - "README.md"
      - "workflows/Docker.yaml"
      - "workflows/Documentation.yaml"
      - "workflows/NotifyFailure.yaml"
      - "workflows/Release.yaml"
      - "workflows/SpellCheck.yaml"
  push:
    branches:
      - master
jobs:
  job1:
    name: ScenarioTest
    runs-on: ubuntu-20.04
    timeout-minutes: 120
    container: ros:${{ matrix.rosdistro }}
    env:
      DEBIAN_FRONTEND: noninteractive
    strategy:
      fail-fast: false
      matrix:
        rosdistro: [galactic]
    steps:
      - name: supress warnings
        run: |
          git config --global --add safe.directory '*'
      - uses: actions/checkout@v2-beta
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Copy repository
        run: |
          mkdir -p ~/ros2_ws/src/scenario_simulator_v2
          cp -rf . ~/ros2_ws/src/scenario_simulator_v2
        shell: bash

      - name: Install dependencies
        run: |
          cd ~/ros2_ws
          vcs import src < src/scenario_simulator_v2/dependency_${{ matrix.rosdistro }}.repos

      - name: Resolve rosdep
        run: |
          cd ~/ros2_ws
          apt-get update
          apt install python3-pip
          rosdep update
          rosdep install -iry --from-paths src --rosdistro ${{ matrix.rosdistro }}
        shell: bash

      - name: Build packages
        run: |
          source /opt/ros/${{ matrix.rosdistro }}/setup.bash
          cd ~/ros2_ws
          colcon build --symlink-install --cmake-args -DCMAKE_BUILD_TYPE=Release
        shell: bash

      - name: Scenario test
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch scenario_test_runner scenario_test_runner.launch.py workflow:='$(find-pkg-share scenario_test_runner)/config/workflow_example.yaml' global_frame_rate:=20
          ros2 run scenario_test_runner result_checker /tmp/scenario_test_runner/result.junit.xml
        shell: bash
