name: ScenarioTest

on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *
  pull_request:
    paths-ignore:
      - "docs/**"
      - "mkdocs.yml"
      - "README.md"
      - "workflows/Docker.yaml"
      - "workflows/Documentation.yaml"
      - "workflows/NotifyFailure.yaml"
      - "workflows/Release.yaml"
      - "workflows/SpellCheck.yaml"
  push:
    branches:
      - master
jobs:
  job1:
    name: ScenarioTest
    runs-on: ubuntu-20.04
    timeout-minutes: 90
    strategy:
      fail-fast: false
      matrix:
        rosdistro: [foxy, galactic]
        test_flags: [cpp_mock_test, with_openscenario_interpreter]
    env:
      ROS_DISTRO: ${{ matrix.rosdistro }}
    steps:
      - uses: actions/checkout@v2-beta
        with:
          fetch-depth: 0

      - name: Install ROS2 via Debian Packages
        run: |
          sudo apt update
          sudo apt install locales
          sudo locale-gen en_US en_US.UTF-8
          sudo update-locale LC_ALL=en_US.UTF-8 LANG=en_US.UTF-8
          export LANG=en_US.UTF-8
          sudo apt update
          sudo apt install curl gnupg2 lsb-release
          curl -s https://raw.githubusercontent.com/ros/rosdistro/master/ros.asc | sudo apt-key add -
          sudo sh -c 'echo "deb [arch=$(dpkg --print-architecture)] http://packages.ros.org/ros2/ubuntu $(lsb_release -cs) main" > /etc/apt/sources.list.d/ros2-latest.list'
          sudo apt update
          sudo apt install ros-${{ matrix.rosdistro }}-desktop

      - name: Install lcov
        run: |
          sudo apt install wget lcov
          mkdir -p ~/ros2_ws
          cd ~/ros2_ws
          wget https://gitlab.com/autowarefoundation/autoware.auto/AutowareAuto/-/raw/master/.lcovrc

      - name: Copy repository
        run: |
          mkdir -p ~/ros2_ws/src/scenario_simulator_v2
          cp -rf . ~/ros2_ws/src/scenario_simulator_v2

      - name: Install dependencies
        run: |
          source /opt/ros/${{ matrix.rosdistro }}/setup.bash
          sudo apt install -y python3-pip python3-rosdep2 python3-vcstool python3-colcon-common-extensions
          rosdep update
          cd ~/ros2_ws
          vcs import src < src/scenario_simulator_v2/dependency_${{ matrix.rosdistro }}.repos

      - name: Resolve rosdep
        run: |
          cd ~/ros2_ws
          rosdep install -iry --from-paths src --rosdistro ${{ matrix.rosdistro }}

      - name: Build packages
        run: |
          source /opt/ros/${{ matrix.rosdistro }}/setup.bash
          cd ~/ros2_ws
          colcon build --symlink-install --ament-cmake-args -DCMAKE_CXX_FLAGS="-fprofile-arcs -ftest-coverage -DCOVERAGE_RUN=1" --cmake-args -DCMAKE_BUILD_TYPE=RelWithDebInfo
          lcov --config-file .lcovrc --base-directory ${PWD} --capture --directory build -o lcov.base --initial

      - name: Scenario test
        if: matrix.test_flags == 'with_openscenario_interpreter'
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch scenario_test_runner scenario_test_runner.launch.py workflow:='$(find-pkg-share scenario_test_runner)/config/workflow_example.yaml' global_frame_rate:=20
          ros2 run scenario_test_runner result_checker /tmp/scenario_test_runner/result.junit.xml

      - name: Run crashing NPC scenario
        if: matrix.test_flags == 'cpp_mock_test'
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch cpp_mock_scenarios mock_test.launch.py scenario:=crashing_npc timeout:=5 > log.txt
          cat log.txt | grep "Scenario Succeed"

      - name: Run spawn with offset scenario
        if: matrix.test_flags == 'cpp_mock_test'
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch cpp_mock_scenarios mock_test.launch.py scenario:=spawn_with_offset timeout:=15
          cat log.txt | grep "Scenario Succeed"

      - name: Run traffic simulation demo scenario
        if: matrix.test_flags == 'cpp_mock_test'
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch cpp_mock_scenarios mock_test.launch.py scenario:=traffic_simulation_demo timeout:=70 > log.txt
          cat log.txt | grep "Scenario Succeed"

      - name: Run accelerate and follow front entity scenario
        if: matrix.test_flags == 'cpp_mock_test'
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch cpp_mock_scenarios mock_test.launch.py scenario:=accelerate_and_follow timeout:=15 > log.txt
          cat log.txt | grep "Scenario Succeed"

      - name: Run decelerate_and_follow front entity scenario
        if: matrix.test_flags == 'cpp_mock_test'
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch cpp_mock_scenarios mock_test.launch.py scenario:=decelerate_and_follow timeout:=15 > log.txt
          cat log.txt | grep "Scenario Succeed"

      - name: Run lanechange_left scenario
        if: matrix.test_flags == 'cpp_mock_test'
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch cpp_mock_scenarios mock_test.launch.py scenario:=lanechange_left timeout:=15 > log.txt
          cat log.txt | grep "Scenario Succeed"

      - name: Run lanechange_right scenario
        if: matrix.test_flags == 'cpp_mock_test'
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch cpp_mock_scenarios mock_test.launch.py scenario:=lanechange_right timeout:=15 > log.txt
          cat log.txt | grep "Scenario Succeed"

      - name: Run lanechange_left_with_id scenario
        if: matrix.test_flags == 'cpp_mock_test'
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch cpp_mock_scenarios mock_test.launch.py scenario:=lanechange_left_with_id timeout:=15 > log.txt
          cat log.txt | grep "Scenario Succeed"

      - name: Run lanechange_right_with_id scenario
        if: matrix.test_flags == 'cpp_mock_test'
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch cpp_mock_scenarios mock_test.launch.py scenario:=lanechange_right_with_id timeout:=15 > log.txt
          cat log.txt | grep "Scenario Succeed"


      - name: Run merge_left scenario
        if: matrix.test_flags == 'cpp_mock_test'
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch cpp_mock_scenarios mock_test.launch.py scenario:=merge_left timeout:=15 > log.txt
          cat log.txt | grep "Scenario Succeed"

      - name: Run phase_control scenario
        if: matrix.test_flags == 'cpp_mock_test'
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch cpp_mock_scenarios mock_test.launch.py scenario:=phase_control timeout:=15 > log.txt
          cat log.txt | grep "Scenario Succeed"

      - name: Run traveled_distance scenario
        if: matrix.test_flags == 'cpp_mock_test'
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch cpp_mock_scenarios mock_test.launch.py scenario:=traveled_distance timeout:=15 > log.txt
          cat log.txt | grep "Scenario Succeed"

      - name: Run momentary stop scenario
        if: matrix.test_flags == 'cpp_mock_test'
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch cpp_mock_scenarios mock_test.launch.py scenario:=momentary_stop timeout:=20 > log.txt
          cat log.txt | grep "Scenario Succeed"

      - name: Run reaction_time scenario
        if: matrix.test_flags == 'cpp_mock_test'
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch cpp_mock_scenarios mock_test.launch.py scenario:=reaction_time timeout:=10 > log.txt
          cat log.txt | grep "Scenario Succeed"

      - name: Run out_of_range scenario
        if: matrix.test_flags == 'cpp_mock_test'
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch cpp_mock_scenarios mock_test.launch.py scenario:=out_of_range timeout:=7 > log.txt
          cat log.txt | grep "Scenario Succeed"

      - name: Run stop_at_crosswalk scenario
        if: matrix.test_flags == 'cpp_mock_test'
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch cpp_mock_scenarios mock_test.launch.py scenario:=stop_at_crosswalk timeout:=15 > log.txt
          cat log.txt | grep "Scenario Succeed"

      - name: Run move_backward scenario
        if: matrix.test_flags == 'cpp_mock_test'
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch cpp_mock_scenarios mock_test.launch.py scenario:=move_backward timeout:=10 > log.txt
          cat log.txt | grep "Scenario Succeed"

      - name: Run get_longitudinal_distance scenario
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch cpp_mock_scenarios mock_test.launch.py scenario:=get_longitudinal_distance timeout:=15 > log.txt
          cat log.txt | grep "Scenario Succeed"

      - name: Collect coverage for with_openscenario_interpreter
        if: matrix.test_flags == 'with_openscenario_interpreter'
        run: |
          cd ~/ros2_ws
          lcov --config-file .lcovrc --base-directory ${PWD} --capture --directory build -o lcov.test
          lcov --config-file .lcovrc -a lcov.base -a lcov.test -o lcov.total
          lcov --config-file .lcovrc -r lcov.total "*/build/*" "*/install/*" "*/test/*" "*/CMakeCCompilerId.c" "*/CMakeCXXCompilerId.cpp" "*_msgs/*" \
            "/opt/ros/*" "/usr/*" \
            -o lcov.total.filtered

      - name: Collect coverage for cpp_mock_test
        if: matrix.test_flags == 'cpp_mock_test'
        run: |
          cd ~/ros2_ws
          lcov --config-file .lcovrc --base-directory ${PWD} --capture --directory build -o lcov.test
          lcov --config-file .lcovrc -a lcov.base -a lcov.test -o lcov.total
          lcov --config-file .lcovrc -r lcov.total "*/build/*" "*/install/*" "*/test/*" "*/CMakeCCompilerId.c" "*/CMakeCXXCompilerId.cpp" "*_msgs/*" \
            "/opt/ros/*" "/usr/*" \
            "${PWD}/src/scenario_simulator_v2/common/*" \
            "${PWD}/src/scenario_simulator_v2/external/*" \
            "${PWD}/src/scenario_simulator_v2/openscenario/*" \
            "${PWD}/src/scenario_simulator_v2/simulation/simulation/simple_sensor_simulator/*" \
            "${PWD}/src/scenario_simulator_v2/simulation/simple_sensor_simulator/include/simple_sensor_simulator/sensor_simulation/*" \
            "${PWD}/src/scenario_simulator_v2/simulation/simple_sensor_simulator/src/sensor_simulation/*" \
            "${PWD}/src/scenario_simulator_v2/simulation/simulation_interface/src/example.cpp" \
            "${PWD}/src/scenario_simulator_v2/simulation/traffic_simulator/src/vehicle_model/*" \
            "${PWD}/src/scenario_simulator_v2/simulation/traffic_simulator/include/traffic_simulator/vehicle_model/*" \
            -o lcov.total.filtered
      - name: publish codecov result
        uses: codecov/codecov-action@v1.2.1
        if: always()
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # only needed for private repos
          files: /home/runner/ros2_ws/lcov.total.filtered
          flags: ${{ matrix.test_flags }}
          env_vars: ROS_DISTRO
          name: scenario_simulator_v2
