name: ScenarioTest

on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * *
  pull_request:
    paths-ignore:
      - "docs/**"
      - "mkdocs.yml"
      - "README.md"
      - "workflows/Docker.yaml"
      - "workflows/Documentation.yaml"
      - "workflows/NotifyFailure.yaml"
      - "workflows/Release.yaml"
      - "workflows/SpellCheck.yaml"
  push:
    branches:
      - master
jobs:
  job1:
    name: ScenarioTest
    runs-on: ubuntu-20.04
    timeout-minutes: 120
    strategy:
      fail-fast: false
      matrix:
        rosdistro: [foxy, galactic]
    env:
      ROS_DISTRO: ${{ matrix.rosdistro }}
    steps:
      - uses: actions/checkout@v2-beta
        with:
          fetch-depth: 0

      - name: Install ROS2 via Debian Packages
        run: |
          sudo apt update
          sudo apt install locales
          sudo locale-gen en_US en_US.UTF-8
          sudo update-locale LC_ALL=en_US.UTF-8 LANG=en_US.UTF-8
          export LANG=en_US.UTF-8
          sudo apt update
          sudo apt install curl gnupg2 lsb-release
          curl -s https://raw.githubusercontent.com/ros/rosdistro/master/ros.asc | sudo apt-key add -
          sudo sh -c 'echo "deb [arch=$(dpkg --print-architecture)] http://packages.ros.org/ros2/ubuntu $(lsb_release -cs) main" > /etc/apt/sources.list.d/ros2-latest.list'
          sudo apt update
          sudo apt install ros-${{ matrix.rosdistro }}-desktop

      - name: Install lcov
        run: |
          sudo apt install wget lcov
          mkdir -p ~/ros2_ws
          cd ~/ros2_ws
          wget https://gitlab.com/autowarefoundation/autoware.auto/AutowareAuto/-/raw/master/.lcovrc

      - name: Copy repository
        run: |
          mkdir -p ~/ros2_ws/src/scenario_simulator_v2
          cp -rf . ~/ros2_ws/src/scenario_simulator_v2

      - name: Install dependencies
        run: |
          source /opt/ros/${{ matrix.rosdistro }}/setup.bash
          sudo apt install -y python3-pip python3-rosdep2 python3-vcstool python3-colcon-common-extensions
          rosdep update
          cd ~/ros2_ws
          vcs import src < src/scenario_simulator_v2/dependency_${{ matrix.rosdistro }}.repos

      - name: Resolve rosdep
        run: |
          cd ~/ros2_ws
          rosdep install -iry --from-paths src --rosdistro ${{ matrix.rosdistro }}

      - name: Build packages
        run: |
          source /opt/ros/${{ matrix.rosdistro }}/setup.bash
          cd ~/ros2_ws
          colcon build --symlink-install --ament-cmake-args -DCMAKE_CXX_FLAGS="-fprofile-arcs -ftest-coverage -DCOVERAGE_RUN=1" --cmake-args -DCMAKE_BUILD_TYPE=RelWithDebInfo
          lcov --config-file .lcovrc --base-directory ${PWD} --capture --directory build -o lcov.base --initial

      - name: Scenario test
        run: |
          source ~/ros2_ws/install/setup.bash
          ros2 launch scenario_test_runner scenario_test_runner.launch.py workflow:='$(find-pkg-share scenario_test_runner)/config/workflow_example.yaml' global_frame_rate:=20 architecture_type:=awf/universe initialize_duration:=50
          ros2 run scenario_test_runner result_checker /tmp/scenario_test_runner/result.junit.xml

      - name: Collect coverage for with_openscenario_interpreter
        run: |
          cd ~/ros2_ws
          lcov --config-file .lcovrc --base-directory ${PWD} --capture --directory build -o lcov.test
          lcov --config-file .lcovrc -a lcov.base -a lcov.test -o lcov.total
          lcov --config-file .lcovrc -r lcov.total "*/build/*" "*/install/*" "*/test/*" "*/CMakeCCompilerId.c" "*/CMakeCXXCompilerId.cpp" "*_msgs/*" \
            "/opt/ros/*" "/usr/*" \
            -o lcov.total.filtered

      - name: publish codecov result
        uses: codecov/codecov-action@v1.2.1
        if: always()
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # only needed for private repos
          files: /home/runner/ros2_ws/lcov.total.filtered
          flags: scenario_test
          env_vars: ROS_DISTRO
          name: scenario_simulator_v2
