name: SpellCheckAll

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master

jobs:
  spell-check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Run spell-check
        uses: autowarefoundation/autoware-github-actions/spell-check@v1
        with:
          cspell-json-url: https://raw.githubusercontent.com/tier4/autoware-spell-check-dict/main/.cspell.json
          local-cspell-json: .github/workflows/custom_spell.json
          dict-packages: |
            https://github.com/tier4/cspell-dicts
          incremental-files-only: false
          verbose: true
