name: SyncReleaseNote
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  dev:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cupcakearmy/confluence-markdown-sync@v1.0.1
        with:
          from: './docs/ReleaseNotes.md'
          to: '2508390892'
          cloud: tier4
          user: kotaro.yoshimoto@tier4.jp
          token: ${{ secrets.CONFLUENCE_TOKEN }}
